<div class="container">
    <form #loginForm="ngForm">
        <h1 class="login-title">Log In</h1>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" #emailControl="ngModel" placeholder="Email" [(ngModel)]="email" name="email" maxlength="70" email required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" #passwordControl="ngModel" placeholder="Password" [(ngModel)]="password" name="password" maxlength="20" type="password" password required>
        </div>
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary" (click)="signIn()"></button>
        <p *ngIf="msg" class="text-danger">{{msg}}</p>
    </form>
</div>