<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="" class="navbar-brand logo" href="#">{{ title }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" *ngIf="(user|async)?.uid">
                    <li><a routerLink="/gallery">Image Gallery</a></li>
                    <li><a routerLink="/upload">Upload</a></li>
                   
                </ul>
                <ul class="nav navbar-nav account">
                    <li *ngIf="!(user|async)?.uid">
                        <a routerLink="/login"></a>
                    </li>
                    <li *ngIf="(user|async)?.uid"><a href="#" (click)="logout()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>