<div class="row">
    <h2>latest Photos</h2>
    <ul id="thumbnailsList">
        <li *ngFor=" let image of images | async" class="img">
            <a [routerLink]="['/image', image.$key]">
                <img src="{{image.url}}" class="tn">
            </a>
        </li>
    </ul>
</div>